/* Specificity (0,0,1)*/
body {
    font: 400 18px "Comic Sans MS"; /*Familia sans-serif*/
    line-height: 1.8;
    color: #000000;
    background-color:rgb(173, 173, 173);
    margin-left: 400px;
    margin-right: 400px;
}
/* Specificity (0,0,1)*/
h1 {
    background-color:#ffa9d4;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding: 25px 25px;
    text-align: center;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
/* Specificity (0,0,1)*/
h2 {
    background-color:#000000;
    color: white;
    text-transform: uppercase;
    padding: 25px 25px;
    text-align: center;
}
/* Specificity (0,0,1)*/
nav {
    background-color:#ffce85;
    color: rgb(0, 0, 0);
    font: 400 18px "Comic Sans MS"; /*Familia sans-serif*/
    padding: 25px 25px;
    text-align: center;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
/* Specificity (0,0,2)*/
nav a{
    display: inline-block;
    padding: 10px;
}